/* Created by Francisco Caballero 09.28.2020 */

//CSS Best practices
// Box (position, display, width, margin, etc.)
// Text 
// Background 
// Border 
// Other (Alphabetocally)

// Default colors
$color-1: #FFAFBE;
$color-2: #FFDBB4;
$color-white: #ffff;
$color-black: #000;
$color-grey: #686868;
$color-backgroud: #F2F6FF;

/* Default Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* //62.5% of 16px is 10px */
}

body {
    background-color: $color-backgroud;
    overflow-x: hidden;
    font-family: "helvetica", san serif;
}

//Header
.header {
    display: grid;
    grid-template-columns: 20% 1fr;
    align-content: center;
    font-size: 1.0rem;
}

.header-logo {
    align-self: center;
    justify-self: center;
}

nav {
    align-self: center;
}

//Menu
.menu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    list-style: none;

    &-item {
        margin: 0 60px;
        position: relative;
        cursor: pointer;
    }
}

.menu-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.3rem;
    background-color: 0000;
    position: absolute;
    visibility: hidden;
    transform-origin: left;
    transform: scale(0);
    transition: 0.25s ease-out;
}

.menu-item:hover::after {
    visibility: visible;
    transform: scale(1);

}

//HERO SECTION
.container {
    max-width: 1500px;
    margin: 0 auto;
}

.hero_container {
    position: relative;
    min-height: 50.5rem;
    display: grid;

    // grid-template-areas: 
    // "img img cta cta"
    // "img img cta cta";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, min-max(0px, auto));
    // grid-template-rows: auto;
}

.hero-img {
    grid-column: 1/2;
    grid-row: 1/1;
    justify-items: center;
    align-self: center;
    // grid-area: img;
}

.hero-cta {
    grid-column: 2/3;
    grid-row: 1/1;
    justify-self: center;
    align-self: center;


}

.cta-title {
    font-size: 7rem;
    font-weight: 800;
    color: $color-white;
    font-family: "Oswald", san serif;
    line-height: 8rem;
    margin-bottom: 2rem;
}

.cta-description {
    font-size: 1.6rem;
    color: $color-white;
    font-weight: 300;
    margin-bottom: 2rem;
}

.hero-gradient {
    // overflow: hidden;
    width: 1500px;
    height: 100%;
    grid-column: 1/5;
    grid-row: 1/1;
    justify-items: center;
    align-self: center;
}

//Buttons 
.btn {
    width: 26.9rem;
    height: 5rem;
    color: $color-white;
    background-color: $color-black;
    border-radius: 30px;
    font-size: 2.5rem;
    font-family: "Oswald", san serif;
    font-weight: 300;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-.5rem);
    }
}

.btn-learn {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: $color-white;
    background: none;
}

.section-about {
    position: relative;
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    // background-image: url("img/fb.png");
    // overflow: hidden;
    background-size: cover;
    // margin-bottom: 2rem;

}

.card-container {
    display: flex;
}

.card-info,
.card-info-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-1;
    height: 55rem;
    width: 85rem;
    border-radius: 0 3rem 3rem 0;

    &-title {
        font-size: 5rem;
        font-family: "Oswald", sans-serif;
        margin-bottom: 2rem;
    }

    &-paragraph {
        font-size: 1.6rem;
        color: $color-grey;
        font-weight: 300;
        text-align: center;
        line-height: 3rem;
        width: 40rem;
    }
}

// .card-info-middle{

// }
.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &-img,
    &-img-middle {
        height: 46rem;
        width: 56rem;
    }

    &-img {
        transform: translateX(-6rem);
    }

    &-img-middle {
        transform: translateX(6rem);
    }
}

.section-join {
    margin-top: 4rem;
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(249, 197, 141, .9), rgba(255, 178, 188, .9)),
        url("img/ropes.webp");

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-content: center;

    .join-text-container{
        width: 4rem;
    }
    .join-heading {
        font-size: 7rem;
        font-weight: 700;
        font-family: "Oswald", sans-serif;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
    }

    .join-paragraph {
        font-size: 1.6rem;
        font-weight: 200;
        color: $color-white;
        text-align: center;
        line-height: 3rem;
        margin-bottom: 4rem;
    }

}

.join-section-container {
    display: grid;
    grid-template-columns: repeat(2, 58rem);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2.5rem;
    justify-content: center;

    .join-card {
        display: flex;
        align-items: flex-end;
        text-align: center;
        padding-bottom: 2rem;
        // align-self: center;
        // margin: 0 auto;
        border-radius: 3rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        h2{
            color: $color-white;
            font-size: 6rem;
            font-family: 'Oswald', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            
        }
        
    }

    .join-card-sm {
        height: 45rem;
        width: 58rem;

        &-1 {
            grid-column: 1/2;
            grid-row: 1/2;
            background-image: linear-gradient(to bottom, transparent 75%, black 25%),
            url('img/join-2.webp');
        }

        &-2 {
            grid-column: 1/2;
            grid-row: 2/3;
            background-image: linear-gradient(to bottom, rgba(249, 197, 141, 0.9)75%, rgba(5, 0, 1, 0.5) 25%),
            url('img/join-1.jpg');

        }
    }

    .join-card-bg {
        grid-column: 2/3;
        grid-row: 1/3;
        height: 95rem;
        width: 58rem;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(5, 0, 1, 0.9)),
        url('img/join-3.jpg');

    }
}